*{
    box-sizing: border-box; /* When Calculating width, include padding */
    margin: 0px;
    padding: 0px;
}
html, body{
    height: 100%;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: hsl(212, 92%, 39%);
    text-align: center;
    padding: 40px;
}
header .headerLogo{
    border-radius: 50%;
    width: 10%;
    height: auto;

}
.navbar{
    width: 20%;

    background-color: inherit;
    text-align: center;
    height:50px
}
.topNavBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul{
    list-style-type: none;
}
.navbar ul li{
    font-size: 1.5rem;
    padding: 0.5rem;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer{
    background-color: aqua;
    text-align: center;
    padding: 40px;
}